<div class="row margin-top-20">
    <div class="col-md-2 col-xs-12 margin-bottom-10">
        <input type="email" class="form-control" ng-model="email"  placeholder="Email del participante"/>
    </div>
    <div class="col-md-2 col-xs-12">
        <button ng-click="checkearParticipante(email)" class="btn-u btn-estud btn-responsive"><b>Checkear Participante</b> <i class="fa fa-play"></i></button>
    </div>
    <div class="col-md-4 col-xs-12">
        <a href="{{ url('descargarCheckeados') }}" class="btn-u btn-estud btn-responsive" download><i class="fa fa-download"></i> <b>Descargar lista de checkeados en .CSV</b></a>
    </div>
    
</div>