<div id="mensajeExito" class="alert alert-success col-xs-12" style="display: none; padding: 8px; font-size: 14px; font-weight: bold;">
</div>
<div id="mensajeError" class="alert alert-danger col-xs-12" style="display: none; padding: 8px; font-size: 14px; font-weight: bold;">
</div>