<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Boletín de Universia - Madrid Student Welcome Day</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body style="margin: 0; padding: 0;">
        <table align="center" border="0" cellpadding="0" cellspacing="0" width="570" style="background-color: #FFFFFF;">
            <tr>
                <td align="center" style="color: #c00000">
                    <h1>Madrid Student Welcome Day</h1>
                </td>
            </tr>
            <tr>
                <td align="center" style="color: #c00000">
                    <h2>Próximo Sábado 25 de septiembre en Madrid</h2>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <img src="http://www.studentwelcomeday.com{{ asset('img/mails/mailMSWD.jpg') }}" title="Logo de MSWD" alt="Logo de MSWD" width="570" height="320" style="display: block;" />
                </td>
            </tr>
            <tr>
                <td>
                    <p>El próximo <strong>Sábado 25 de septiembre en la Galería de Cristal del Palacio de Cibeles de Madrid</strong>, durante todo el día, se celebra el Madrid Student Welcome Day. <strong>Desde las 11:00 de la mañana hasta las 21:00</strong> podrás disfrutar de una jornada festiva, con música, tapas, cerveza y con una oferta de todo lo que Madrid ofrece a los estudiantes.</p>
                    <p>La entrada es gratuita previa inscripción a través del formulario de la <a href="http://www.studentwelcomeday.com" target="_blank">web del evento</a></p>
                    <p>¡Apúntate ya!</p>
                    <p>Un abrazo.</p>
                </td>
            </tr>
        </table>
    </body>
</html>