<div class="row">
    <div class="col-sm-6">
        <h4><a class="inverso" href="https://www.facebook.com/media/set/?set=a.891477517596585&type=3" target="_blank"> <i class="fa fa-photo"></i> Álbum MSWD, de Jaime Villanueva</a></h4>
    </div>
    <div class="col-sm-6">
        <h4><a class="inverso" href="https://www.facebook.com/media/set/?set=a.891819534229050&type=3" target="_blank"> <i class="fa fa-photo"></i> Álbum MSWD, de Álvaro García Fuentes</a></h4>
    </div>
</div>