<h2>Fundado y dirigido por <span class="inverso">| Founded and directed by</span>:</h2>
<div class="block margin-top-20">
    <div class="col-sm-8 col-sm-offset-2">
        <a href="https://www.aluni.net" target="_blank">
            <img class="img-responsive mt-20" src="{{ asset('img/logo-aluni.png') }}">
        </a>
    </div>
</div>