{% extends "base.html.twig" %}

{% block navigation %}
    {% include 'nav/menu-simple.html.twig'%}
{% endblock %}

{% form_theme formFiltrosParticipante 'form/fields.html.twig' %}
{% form_theme formSorteo 'form/fields.html.twig' %}

{% block content %}
    <div ng-app="participantesApp" class="container-fluid last">
        <h2>Sorteos</h2>
        <div id="mensajeEspera" class="row">
            <div style="text-align: center;">
                <h3><i class="fa fa-spinner fa-spin"></i> Cargando <span class="inverso">| Loading ...</span></h3>
            </div>
        </div>
        <div class="seccionAngular" ng-controller="Participantes" style="display: none">
            {% include 'admin/Sorteos/formularioSorteo.html.twig'%}
            <h2>Lista de participantes</h2>
            {% include 'admin/ListaParticipantes/filtro.html.twig'%}
            {% include 'admin/ListaParticipantes/lista.html.twig'%}
            {% include 'admin/Sorteos/ganadores.html.twig'%}
        </div>
    </div>
{% endblock content %}

{% block custom_stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/mswd-estud.css') }}">
{% endblock %}

{% block javascripts %}
    <script>
        var participantesREST = "{{ participantesREST }}";
    </script>
    {% block importmap %}{{ importmap('angular_app') }}{% endblock %}
{% endblock %}
