{% extends "base.html.twig" %}

{% block navigation %}
    {% include 'nav/menu-simple.html.twig'%}
{% endblock %}

{% block content %}
    <div ng-app="aluniBlogApp" class="container last">
        <div id="mensajeEspera" class="row">
            <div style="text-align: center;">
                <h3><i class="fa fa-spinner fa-spin"></i> Cargando <span class="inverso">| Loading ...</span></h3>
            </div>
        </div>
        <div id="listadoAngular" ng-controller="Blog">
            {% include 'blog/listadoEntradas/col_categorias.html.twig'%}
            {% include 'blog/listadoEntradas/col_entradas.html.twig'%}
        </div>
    </div>
{% endblock content %}

{% block custom_stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/mswd-estud.css') }}">
{% endblock %}

{% block javascripts %}
    <script>
        var entradasREST = "{{ urlEntradas }}";
    </script>
    {% block importmap %}{{ importmap('angular_app') }}{% endblock %}
{% endblock %}
