<!DOCTYPE html>
<html lang="es"> 
    <head>
        <title>Madrid Student Welcome Day</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Acto de bienvenida oficial de la ciudad Madrid a todos los estudiantes - MSWD">
        <meta name="author" content="MSWD">
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">
        {% block stylesheets %}
        {% endblock %}
        {% block custom_stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/mswd.css') }}">
        {% endblock %}
        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body id="body" data-spy="scroll" class="demo-lightbox-gallery">
        <header>
            {% block navigation %}
                {% include 'nav/menu-estudiantes.html.twig' %}
            {% endblock %}
        </header>
        <main id="content" class="pag-estud">
            {% include 'mensajes.html.twig' %}
            {% block content %}
            {% endblock %}
        </main>
        {% if not app.request.cookies.has('accept_cookies') %}
            <div class="centrar">
                <div id="avisoCookies" class="alert alert-info alert-dismissible">
                    <button type="button" class="close" onclick="Cookies.set('accept_cookies', 'true', { expires: 31 });" data-dismiss="alert" aria-label="Close"><i class="fa fa-times"></i></button>
                    En MSWD utilizamos <b>Cookies</b> para mejorar su experiencia. <a href="{{ url('clausulaPrivacidad') }}" target="_blank">Leer más</a>
                </div>
            </div>
        {% endif %}
        {% block footer %}
            {% include "footer/footer.html.twig" %}
        {% endblock %}
    </body>
</html>