{% extends "Nav:navegacion.html.twig" %}

{% block menu %}
    <li class="page-scroll home">
        <a href="{{ url('home') }}">Home</a>
    </li>
    <li class="page-scroll">
        <a href="{{ url('home') }}/#inscripcion">Sign Up</a>
    </li>
    {% include Nav:menu-comun.html.twig::class %}
{% endblock %}