{% extends "SWDMadridBundle:Nav:navegacion.html.twig" %}

{% block menu %}
    <li class="page-scroll home">
        <a href="#inscripcion">Sign Up</a>
    </li>
    {% include 'SWDMadridBundle:Nav:menu-comun.html.twig' %}
{% endblock %}