{% extends "nav/navegacion.html.twig" %}

{% block menu %}
    <li class="page-scroll home">
        <a href="#inscripcion">Sign Up</a>
    </li>
    {% include 'nav/menu-comun.html.twig' %}
{% endblock %}