{% extends "Nav:navegacion.html.twig" %}

{% block menu %}
    <li class="page-scroll home">
        <a href="#inscripcion">Sign Up</a>
    </li>
    {% include Nav:menu-comun.html.twig::class %}
{% endblock %}